* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font", "sans-serif";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.7);
    color: #cdd6f4;
}

#workspaces {
    padding: 0 8px;
    background: transparent;
    color: #56affd;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: #56affd;
    border-bottom: 2px solid #56affd;
}

#clock,
#bluetooth,
#custom-usb,
#custom-battery,
#custom-weather,
#pulseaudio,
#cpu,
#memory,
#temperature,
#custom-procs,
#custom-separator,
#custom-network,
#network.speed,
#custom-displayorientation,
#custom-personalization,
#custom-menu,
#custom-verticalseparator,
#tray {
    padding: 0 5px;
    border-radius: 0;
    margin: 0px 0;
    color: #ffffff;
}

#clock:hover,
#bluetooth:hover,
#custom-usb:hover,
#custom-battery:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#pulseaudio.overamplified:hover,
#custom-procs:hover,
#custom-network:hover,
#custom-menu:hover {
	background-color: rgba(180, 180, 180, 0.4);
	transition: background-color 0.2s ease;
	border-radius: 10px;
}

#clock {
	font-weight: bold;
	background-color: rgba(68, 68, 127, 0.4);
	border-radius: 10px;
	padding: 0 7px;
}

#custom-battery,
#custom-battery.warning,
custom-battery.critical,
#custom-menu {
	font-size: 18px;
}

#pulseaudio {
	padding: 0 10px;
	color: #ca3131;	
}
#pulseaudio.overamplified {
	padding: 0 10px;
	border-radius: 0;
	margin: 0px 0;
	color: #ffffff;
}

#cpu,
#temperature,
#memory,
#custom-procs,
#network.speed {
	margin: 0 0px;
	padding: 0px;
}

/* Amarelo quando < 20% (Classe 'warning' enviada pelo script) */
#custom-battery.warning {
    color: #ecb32e;
}

/* Vermelho piscando quando < 10% (Classe 'critical') */
#custom-battery.critical {
    color: #ca3131;
}

#bluetooth.connected {
	margin: 0 -5px;
	color: #89b4fa;
}

/* Estado Crítico (Fica vermelho quando passa de 90) */
#cpu.critical, 
#memory.critical, 
#temperature.critical {
    color: #ca3131; /* Vermelho Catppuccin */
}

#custom-separator {
    color: #56affd;
    padding: 0 5px;
    margin: 0 0px;
    font-size: 18px;
    font-weight: bold;
}
